<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.marcin.wac.thesisapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".infrastructure.di.DaggApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.Light.NoActionBar">
        <activity
            android:name=".utils.bases.BaseActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".modules.splash.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".modules.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".modules.student.StudentMainActivity" />
        <activity android:name=".modules.lecturer.LecturerMainActivity" />
        <activity android:name=".modules.thesis.NewThesisActivity" />
        <activity android:name=".modules.details.ThesisDetailsActivity" />
        <activity android:name=".modules.register.RegisterActivity" />
    </application>
</manifest>